html {
  scrollbar-width: normal;
  scrollbar-color: #777 #555;
}

html::-webkit-scrollbar {
  /* border-radius: 10%; */
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1em;
}

html::-webkit-scrollbar-thumb:hover {
  /* background-color: #777; */
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-track:hover {
  /* background-color: rgb(38, 38, 38); */
}

/* body {
  background-color: #333;
  color: #CCC;
} */


main {
  animation: transitionIn 0.75s;
  transition-timing-function: ease-in;
}

body {
  background-color: black;
  color: white;
}

.card {
  background-color: black;
  color: white;
}

.card body ul li{
  background-color: black;
  color: white;
}

a {
  color: white;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}