<% layout('layouts/boilerplate') %>
    <div class="col-md-6 offset-md-3">
        <h1>Log In</h1>
        <form action="/login" method="POST" class="validated-form mt-4" novalidate>
            <div class="row mb-3">
                <label class="col col-form-label" for="username">Username: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="username" id="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col col-form-label" for="password">Password: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" name="password" id="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-success">Log In</button>
        </form>
    </div>